beautifulsoup4==4.13.4
click==8.2.1
gensim==4.3.3
joblib==1.5.1
nltk==3.9.1
numpy==1.26.4
regex==2024.11.6
scipy==1.13.1
smart_open==7.3.0.post1
soupsieve==2.7
textblob==0.19.0
tqdm==4.67.1
typing_extensions==4.14.1
wrapt==1.17.2
